.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        img {
            height: 15vh;
        }

        h1 {
            font-size: 2.5rem;
            margin-top: 5px;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 600;
            }

            .login {
                margin-top: 10px;
                color: #88C6FF;
                background-color: whitesmoke;
                border: 0;
                padding: 10px 0px;
                font-size: xx-large;
                font-weight: 900;
                cursor: pointer;
                box-shadow: 3px 3px 1px;
            }

            input {
                height: 20px;
                border: 1px whitesmoke;
                background-color: #88C6FF;
                margin-bottom: 10px;
            }

            .newPass {
                align-self: center;
                cursor: pointer;
                margin-top: 10px;
            }
        }
    }

    p {
        position: absolute;
        bottom: 2vh;

        .signUp {
            cursor: pointer;
            color: blue;
        }
    }
}